body {
    font-family: Arial, sans-serif;
    background-color: #3498db; /* Blue background color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1000px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
}



h1 {
    margin-bottom: 20px;
    color: #3498db; /* Blue heading color */
    text-align: center;

}
li {
    margin-bottom: 20px;
    color: black; /* Blue heading color */
    text-align: left;

}
p {
    margin-bottom: 20px;
    color: #3498db; /* Blue heading color */
    text-align: left;

}
a {
    margin-bottom: 20px;
    color: #3498db; /* Blue heading color */
    text-align: center;

}

form {
    margin-top: 20px;
}

form div {
    margin-bottom: 15px;
}

.alert {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    color: #ffffff; /* White text color for alerts */
}

.alert-danger {
    background-color: #e74c3c; /* Red background color for error alerts */
    border: 1px solid #c0392b;
}

.alert-success {
    background-color: #2ecc71; /* Green background color for success alerts */
    border: 1px solid #27ae60;
}
