<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <div class="navbar">
        {% if current_user.is_authenticated %}
        <a href="/logout">Logout</a>
        {% endif %}
    </div>
    <h1>Here is your Random Number</h1>
    <br><br>
    <label for="min_value" style="font-size: 35px;">{{random_number}}</label>
    <br><br>
    <form action="/generate" method="post">
        <label for="min_value" style="font-size: 20px;">Minimum Value:</label>
        <label for="min_value" style="font-size: 20px;">{{min_value}}</label>
        <br><br><br>
        <label for="max_value" style="font-size: 20px;">Maximum Value:</label>

        <label for="min_value" style="font-size: 20px;">{{max_value}}</label>
        {% if error_message %}
        <p style="color: red">{{ error_message }}</p>
        {% endif %}
        <br><br><br>

    </form>
    <br><br><br>

    <a  href="{{ url_for('home') }}">Generate another Number</a>
    <br><br><br>
    <a  href="{{ url_for('info') }}">Info about this Application</a>
</div>
</body>
</html>


