

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="navbar">
        {% if current_user.is_authenticated %}
        <a href="/logout">Logout</a>
        {% endif %}
    </div>
    <h1>Welcome, you are signed in</h1>
    <br><br><br><br>
    <h1 style="font-size: 20px;">Enter Minimum and Maximum Values</h1>

    <form action="/generate" method="post">
        <label for="min_value" style="font-size: 20px;">Minimum Value:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" id="min_value" name="min_value" required><br><br>

        <label for="max_value" style="font-size: 20px;">Maximum Value:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" id="max_value" name="max_value" required>
        {% if error_message %}
        <p style="color: red">{{ error_message }}</p>
        {% endif %}
        <br><br><br>
        <button type="submit">Generate Random Number</button>
    </form>
    <br><br><br><br><br><br>
    <a  href="{{ url_for('info') }}">Info about this Application</a>
</div>
</body>
</html>


