
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <div class="navbar">
        {% if current_user.is_authenticated %}
        <a href="/logout">Logout</a>
        {% endif %}
    </div>
    <h1> Info</h1>
    <ul>
        <li>This application generates a random number given a minimum and maximum integer values (included)</li>
        <li>The values are mandatory and the maximum value has to be greater than the minimum value</li>
        <li>The application was developed by Luca De Francesco</li>
        <li>It is developed using Python Flask library (See <a href="https://flask.palletsprojects.com/en/3.0.x/">Flask Documentation</a>)</li>
        <li>A Docker Image of the application is available on Docker Hub at
            <a href="https://hub.docker.com/r/lucadefra92/flask-random-number-app">Docker Hub - Random Number Generator</a></li>
        <li>The full Repo is available on GitLab at
            <a href="https://gitlab.com/lucadefra92/flask-random-number">flask-random-number</a></li>
        <li>The Production version of the Application is hosted by a AWS Kubernetes Cluster
            and is accessible
            <a href="http://aebcfc7bdfb4d49dfa3675054e230b67-1314083756.us-east-1.elb.amazonaws.com/info">here</a></li>
    </ul>
</div>
</body>
</html>

